.home .home-gifs {
    display: flex;
    justify-content: space-around;
}

.home .home-gifs img {
    width: 25%;
    height: 20rem;
}

.home .home-gifs-2 {
    display: flex;
    justify-content: space-around;
}

.home .home-gifs-2 img {
    width: 25%;
    height: 20rem;
    margin: 2rem 0 4rem 0;
}

.home li {
    font-size: 1.25rem;
    margin: 1rem auto;
    width: 50%;
}
