.list .card {
    box-shadow: 0 0 8px #000;
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;
    margin: 3rem auto;
    width: 80%;
    align-items: center;
    display: flex;
}

.list .card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.list .card img {
    border-radius: 1rem;
    box-shadow: 0 0 4px #000;
}

.list .card .card-text {
    margin-left: 3rem;
}

.list .card h3 {
    font-size: 2rem;
}

.list .card h4 {
    color: #ccc;
}
