.list .card {
    box-shadow: 0 0 10px #000;
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;
    margin: 3rem auto;
    width: 70%;
    align-items: center;
    display: flex;
}

.list .card:hover {
    scale: 1.02;
    transition: 0.25s;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list .card:not(:hover) {
    transition: 0.5s;
}

.list .card img {
    border-radius: 1rem;
    box-shadow: 0 0 5px #000;
}

.list .card img:hover {
    scale: 1.04;
    transition: 0.2s;
}

.list .card img:not(:hover) {
    transition: 0.5s;
}

.list .card .card-text {
    margin: 0 0 1rem 2rem;
}

.list .card h3 {
    font-size: 2rem;
}

.list .card h4 {
    color: #555;
    font-size: 1rem;
}

#list {
    margin-bottom: 8rem;
}
